body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    font-family: "playfair display";
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; /* Fylder hele højden af viewport */
}

.image-logo {
    width: 140px;
}

header {
    background-color: #EBDED4;
    display: flex;
    flex-direction: column; /* Stabler logo og navigation vertikalt */
    justify-content: center;
    align-items: center;
    width: 100%; /* Sørger for, at header fylder hele bredden */
    text-align: center; /* Centrerer teksten */
}

nav ul {
    padding: 0;
    list-style: none;
    width: 100%; /* Giver fuld bredde til navigationslinjen */
    display: flex;
    flex-direction: column; /* Vertikal layout for links */
    justify-content: center;
    align-items: center;
}

nav ul li {
    padding: 10px 0; /* Vertikal padding for hvert link */
}

nav ul li a {
    text-decoration: none;
    color: #00224B;
    font-size: 18px;
    display: block; /* Gør links blokelementer for bedre klikområde */
}

nav ul li a:hover {
    color: #A5AAD8;
}

/* Tilpasninger for større skærme */
@media screen and (min-width: 600px) {
    header {
        flex-direction: row; /* Horisontal layout for større skærme */
    }

    nav ul {
        flex-direction: row; /* Gør navigationslinjen horisontal */
    }

    nav ul li {
        padding: 0 10px; /* Justerer padding for et mere kompakt layout */
    }
}






  /*forside billede og tilhørende tekst ved mobil*/
.intro-box {
    position: relative;
}

#mig-forside {
    width: 100%;
    display: block; /* Sikrer at dette billede er synligt på mobil */
}

#mig-forside2 {
    display: none; /* Skjuler dette billede på mobil */
}

.intro, .titel, .titel2, .underskrift, .logo-navn {
    color: #00224B; /* Sørger for alle tekster bruger samme farve */
}

/*forside billede og tilhørende tekst ved større skærm end mobil*/
@media screen and (min-width: 600px) {
    #mig-forside {
        display: none; /* Skjuler dette billede på skærme bredere end 600px */
    }

    #mig-forside2 {
        display: block; /* Gør dette billede synligt på større skærme */
        width: 100%;
    }

    .intro {
        position: absolute;
        top: 30%;
        left: 5%;
    }

    .titel {
        font-size: 30px;
    }

    .titel2 {
        font-size: 20px;
    }

    .titel3 {
        font-size: 20px;
    }
}

/* Forside billede og tilhørende tekst ved web */
@media screen and (min-width: 1000px) {
    .intro {
        position: center;
    }

    .titel {
        font-size: 35px;
        margin-top: 10px;
    }

    .titel2 {
        font-size: 25px;
        margin-bottom: 10px;
    }

    .titel3 {
        font-size: 25px;
        margin-top: 20px;
    }
}






/* "Projekter" styling */
.image-grid {
    padding: 1%;
}

.textprojekter{
    color: #00224B;
    font-size: 30px;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 50px;
}

.row {
    display: flex;
    justify-content: center;
    gap: 1%;
    margin-bottom: 80px;
}

.image-container {
    flex: 1;
    width: 32%; /* Justeres til 100% i media query for mobil */
    padding: 1px;
    box-sizing: border-box;
}

.image-container img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}

.caption-box {
    width: 50%; /* Angiver bredden af boksen, juster procenten efter behov */
    margin: 10px auto 0; /* Centrerer boksen og giver margin-top */
    text-align: center; /* Centrerer tekst i boksen */
    background-color: #00224B; /* Juster baggrundsfarve efter behov */
    color: white;
    padding: 10px; /* Juster padding for indre plads */
    font-size: 18px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* Tilføjer en skygge til boksen */
}

/* Responsiv styling for mobile enheder */
@media screen and (max-width: 600px) {
    .row {
        flex-direction: column;
    }

    .image-container {
        width: 100%; /* Billederne fylder hele bredden på mobile enheder */
        margin-bottom: 60px;
    }
}


/* Responsiv styling for tablets og desktops */
@media screen and (min-width: 600px) {
    .image-container {
        width: 32%; /* Tre billeder per række på brede skærme */
    }
}

/* Ekstra styling for større desktops */
@media screen and (min-width: 1000px) {
    .image-grid {
        max-width: 960px; /* Begrænser gridens bredde på meget store skærme */
        margin: 0 auto; /* Centrerer gridet */
    }
}








/* "Om mig" Styling */
.full-width-section {
    width: 100%; /* Sætter sektionen til at fylde hele bredden */
    background-color: #EBDED4; /* Angiver baggrundsfarve, juster efter behov */
    color: #00224B;
    display: flex; /* Brug flexbox til at arrangere tekst og billede side om side */
    justify-content: center; /* Justerer elementerne med plads mellem dem */
    padding: 100px; /* Reduceret padding for desktop */
    box-sizing: border-box; /* Medregn padding og border i sektionens bredde */
    height: auto; /* Højden justeres til auto */
    margin-top: 50px; /* Justeret top margin */
}

/* Styling for tekstsektionen */
.text-section {
    flex: 0.8; /* Fylder halvdelen af sektionen */
    padding: 20px; /* Justerer padding for tekstsektionen */
    display: flex; /* Gør tekstsektionen til en flex container */
    flex-direction: column; /* Stabler indholdet vertikalt */
    justify-content: center; /* Centrerer indholdet vertikalt inden for sektionen */
    text-align: left; /* Sikrer at teksten er venstrestillet */
}

.text-section h2 {
    font-size: 40px; /* Størrelse justeres ned på mindre skærme */
    margin-top: 0;
    margin-bottom: 30px; /* Mindre afstand mellem h2 og efterfølgende paragraf */
}

.text-section p {
    font-size: 18px; /* Størrelse justeres ned på mindre skærme */
    margin-top: 0;
    margin-bottom: 15px; /* Mindre afstand til næste paragraf hvis flere p tags */
}

/* Styling for billedsektionen */
.image-section {
    flex: 1; /* Fylder halvdelen af sektionen */
    padding: 10px; /* Justerer padding for billedsektionen */
    display: flex; /* Brug flexbox til at centrere billedet inden for sektionen */
    justify-content: center; /* Centrerer billedet vandret */
    align-items: center; /* Centrerer billedet lodret */
}

/* Styling for billedet */
.image-section img {
    max-width: 80%; /* Begrænser billedets bredde til 80% af containeren */
    height: auto;
}

/* Responsiv styling for mobile enheder */
@media (max-width: 600px) {
    .full-width-section {
        flex-direction: column; /* Skifter til lodret layout */
        padding: 30px; /* Endnu mere reduceret padding for at spare plads */
    }

    .text-section,
    .image-section {
        flex: 1 100%; /* Sørger for, at begge sektioner fylder hele bredden */
    }

    .text-section h2 {
        font-size: 30px; /* Reducerer skriftstørrelsen for at passe bedre på små skærme */
    }

    .text-section p {
        font-size: 16px; /* Mindre skriftstørrelse for bedre læsbarhed på små enheder */
    }

    .image-section img {
        max-width: 100%; /* Billedet skal kunne fylder hele bredden */
    }
}





.contact-section { /* Kontakt mig */
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

.contact-section h2{
    color: #00224B;
    font-size: 18px;
}

.contact-section p{
    color: #00224B;
    font-size: 18px;

}

.contact-item {
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Sikrer, at items starter fra samme punkt til venstre */
    margin: 10px 0;
}

.contact-item img {
    width: 24px; /* Størrelse på ikonet */
    height: 24px;
    margin-right: 10px; /* Afstand mellem ikon og tekst */
    flex-shrink: 0; /* Forhindrer ikonet i at skrumpe */
}

.contact-item span {
    text-align: left; /* Teksten justeres til venstre */
    display: block; /* Gør span til en block for at fylde tilgængelig plads */
    width: 100%; /* Fylder resten af pladsen i flex container */
    font-size: 18px;
}







.footer {
    background-color: #EBDED4; /* Baggrundsfarven på din footer */
    padding: 5px 0;
    text-align: center; /* Centrerer alt indhold */
}

.footer-content {
    display: flex;
    flex-direction: column; /* Stabler elementerne vertikalt */
    align-items: center; /* Centrerer elementerne horisontalt */
    justify-content: center; /* Centrerer vertikalt i footer */
}

.footer-logo {
    max-width: 120px; /* Tilpas bredde efter behov */
    height: auto; /* Bevarer billedets proportioner */
    margin-bottom: 10px; /* Giver plads mellem logo og sociale ikoner */
}

.social-media-icons a {
    display: inline-block; /* Gør links inline for horisontal visning af ikoner */
    margin: 0 1px; /* Giver lidt plads mellem ikoner */
}

.social-media-icons img {
    width: 40px; /* Størrelsen på dine sociale medieikoner */
    height: auto;
}

@media (max-width: 600px) {
    .footer {
        padding: 10px 0;
    }

    .social-media-icons a {
        margin: 0 1px; /* Mindre margin mellem ikoner på små skærme */
    }
}



    
