body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    font-family: "playfair display";
}

.image-logo {
    width: 140px;
}

header {
    background-color: #EBDED4;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; /* Header fylder hele bredden */
    text-align: center; 
}

nav ul {
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column; /* Vertikal layout for links */
    justify-content: center;
    align-items: center;
}

nav ul li {
    padding: 10px 0; /* vertikal padding i mellem hvert link */
}

nav ul li a {
    text-decoration: none; /* Fjerner link layout */
    color: #00224B;
    font-size: 18px;
    display: block;
}

nav ul li a:hover {
    color: #A5AAD8; 
}

/* Tilpasninger for større skærme */
@media screen and (min-width: 600px) {
    header {
        flex-direction: row; /* Horisontal layout for større skærme */
    }

    nav ul {
        flex-direction: row; /* Gør navigationslinjen horisontal */
    }

    nav ul li {
        padding: 0 10px;
    }
}


/* Forside billede og tilhørende tekst */
.intro-box {
    position: relative;
}

#mig-forside {
    width: 100%;
    display: block; /* Sikrer at billedet er synligt på mobil */
}

#mig-forside2 {
    display: none; /* Skjuler billedet på mobil */
}

.intro, .titel, .titel2, .titel3, .underskrift, .logo-navn {
    color: #00224B; /* Sørger for alle tekster bruger samme farve */
}

/* Forside billede og tilhørende tekst ved mobil */
@media screen and (max-width: 599px) {
    .intro {
        position: static;
        text-align: center; /* Centrerer teksten under billedet */
        padding: 20px;
    }

    .titel {
        font-size: 28px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .titel2 {
        font-size: 22px;
        font-weight: normal;
        margin-bottom: 10px;
    }

    .titel3 {
        font-size: 20px;
        font-weight: normal;
        margin-top: 5px; 
    }
}

/* Forside billede og tilhørende tekst ved større skærm end mobil */
@media screen and (min-width: 600px) {
    #mig-forside {
        display: none; /* Skjuler billedet på skærme bredere end 600px */
    }

    #mig-forside2 {
        display: block; /* Gør billedet synligt på større skærme */
        width: 100%;
    }

    .intro {
        position: absolute;
        top: 30%;
        left: 5%;
        text-align: left; /* Tekst justeret til venstre på større skærme */
    }

    .titel {
        font-size: 30px;
    }

    .titel2 {
        font-size: 25px;
        font-weight: normal;
    }

    .titel3 {
        font-size: 25px;
        font-weight: normal;
    }
}

/* Forside billede og tilhørende tekst ved web */
@media screen and (min-width: 1000px) {
    .intro {
        position: absolute;
    }

    .titel {
        font-size: 40px;
        margin-bottom: 5px;
    }

    .titel2 {
        font-size: 30px; 
        margin-top: 5px;
        margin-bottom: 15px;
    }

    .titel3 {
        font-size: 25px;
        margin-top: 5px;
    }
}

/* "Projekter" styling */
.image-grid {
    padding: 1%; /* Afstand imellen de 2 sektioner */
}

.textprojekter{
    color: #00224B;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 50px;
}

.row {
    display: flex;
    justify-content: center;
    gap: 1%;
    margin-bottom: 80px;
}

.image-container {
    flex: 1;
    width: 32%;
    padding: 1px;
    box-sizing: border-box;
}

.image-container img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}

.image-container a {  /* Hoover effekt */
    text-decoration: none; 
    display: block; /* Gør hele området klikbart */
}

.image-container a:hover .caption-box {
    color: #A5AAD8; 
}

.caption-box {
    width: 50%; /* Bredden af tekstboksen */
    margin: 20px auto 0; /* Afstand imellem billede og tekstboks */
    text-align: center;
    background-color: #00224B;
    color: white;
    padding: 10px; /* Indre plads af tekstboks */
    font-size: 18px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

/* Responsiv styling for mobile enheder */
@media screen and (max-width: 600px) {
    .row {
        flex-direction: column;
    }

    .image-container {
        width: 100%; /* Billederne fylder hele bredden på mobile enheder */
        margin-bottom: 60px;
    }
}
    .textprojekter {
    font-size: 25px; 
    }

/* Ekstra styling for større desktops */
@media screen and (min-width: 1000px) {
    .image-grid {
        max-width: 960px; /* Størrelseforholdende på billederne på store skærme*/
        margin: 0 auto; /* Centrerer gridet */
    }
}

/* "Om mig" Styling */
.full-width-section {
    width: 100%; /* Sektionen fylder hele bredden */
    background-color: #EBDED4; 
    color: #00224B;
    display: flex; /* Flexbox til at arrangere tekst og billede side om side */
    justify-content: center; 
    padding: 100px; 
    box-sizing: border-box; 
    height: auto; 
    margin-top: 30px; /* Afstand imellen Projekter og Om mig */
}

/* Styling for tekstsektionen */
.text-section {
    flex: 0.8; /* Størrelseforholdende af billede og tekst*/
    padding: 20px;
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    text-align: left; 
}

.text-section h2 {
    font-size: 35px; 
    margin-top: 0;
    margin-bottom: 30px; /* Afstand mellem h2 og p */
}

.text-section p {
    font-size: 18px; 
    margin-top: 0;
    margin-bottom: 30px; /* Afstand imellem teksterne*/
}

/* Styling for billedsektionen */
.image-section {
    flex: 1; /* Fylder halvdelen af sektionen */
    padding: 10px;
    display: flex; /* Flexbox til at centrere billedet inden for sektionen */
    justify-content: center; 
    align-items: center; 
}

/* Styling for billedet */
.image-section img {
    max-width: 80%; 
    height: auto;
}

/* Responsiv styling for mobile enheder */
@media (max-width: 600px) {
    .full-width-section {
        flex-direction: column; /* Skifter til lodret layout */
        padding: 30px; 
    }

    .text-section,
    .image-section {
        flex: 1 100%; /* Sørger for, at billede/tekst fylder hele bredden */
    }

    .text-section h2 {
        font-size: 30px; 
    }

    .text-section p {
        font-size: 16px; 
    }

    .image-section img {
        max-width: 100%;
    }
}

/* "Kontakt mig" styling */
.contact-section {
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

.contact-section h2 {
    color: #00224B;
    font-size: 35px;
}

.contact-section h3 {
    color: #00224B;
    font-size: 20px;
}

.contact-section p {
    color: #00224B;
    font-size: 19px;
    padding-left: 5px; 
}

.contact-item {
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Sikrer, at items starter fra samme punkt til venstre */
    margin: 10px 0;
    padding-left: 150px; /* Skubber elemeterne mere mod centrum */
}

.contact-item img {
    width: 50px; 
    height: 50px;
    margin-right: 10px; /* Afstand mellem ikon og tekst */
    flex-shrink: 0; 
    padding-left: 20px; 
}

.contact-item span {
    text-align: left; 
    display: block; 
    width: 100%; /* Fylder resten af pladsen i flex container */
    font-size: 18px;
}

/* Media Queries for mindre skærme som smartphones */
@media (max-width: 768px) {
    .contact-section {
        padding: 10px;
    }

    .contact-section h2 {
        font-size: 24px; 
    }

    .contact-section p {
        font-size: 16px;
        padding-left: 5px;
    }

    .contact-item {
        flex-direction: column; /* Ikonerne stables vertikalt */
        padding-left: 0; /* Fjerner venstre padding */
        align-items: center; 
        margin-top: 30px; 
    }

    .contact-item img {
        padding-left: 0; 
    }

    .contact-item span {
        text-align: center; 
    }
}

.footer { /* Footer styling */
    background-color: #EBDED4; 
    padding: 5px 0;
    text-align: center; 
}

.footer-content {
    display: flex;
    flex-direction: column; /* Elementerne bliver vertikale */
    align-items: center; 
    justify-content: center; 
}

.footer-logo {
    max-width: 120px; 
    height: auto; 
    margin-bottom: 10px; /* Afstand imellem logo og sociale ikoner */
}

.social-media-icons a {
    display: inline-block; 
    margin: 0 1px; /* Aftand imellem hvert ikon */
}

.social-media-icons img {
    width: 40px; /* Størrelsen på dine sociale medieikoner */
    height: auto;
}

@media (max-width: 600px) {
    .footer {
        padding: 10px 0;
    }

    .social-media-icons a {
        margin: 0 1px; /
    }
}

/* "PROJEKTER SIDEN" Styling */
.page-header {
    width: 100%;
    text-align: center; 
    padding: 20px 0; /* Vertikal padding for afstand fra toppen og til første sektion */
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 25px;
}

.page-header h1 {
    color: #00224B; 
    font-weight: bold; 
    margin: 0; 
}

@media (max-width: 600px) {
    .page-header h1 {
        font-size: 35px; 
    }

    .page-header {
        padding: 10px 0;
    }
}

/* "PROJEKTER1" Styling */
.projekter-section1 {
    width: 100%;
    background-color: #ffffff;
    color: #00224B;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 20px;
    box-sizing: border-box;
    height: auto;
    margin-top: 20px;
    flex-direction: row-reverse;
}

/* Styling for tekstsektionen */
.textprojekt-section1 {
    flex: 0.3;
    padding: 10px 20px 10px 0; /* Tilføjer padding til højre for at skubbe teksten yderligere til venstre */
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 40px; /* Tilføjer højre margin for at skubbe teksten væk fra billedet */
}

.textprojekt-section1 h2 {
    font-size: 35px;
    margin-top: 0;
    margin-bottom: 20px;
    text-align: left;
}

.textprojekt-section1 p {
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 20px;
    text-align: left;
}

/* Styling for billedsektionen */
.imageprojekt-section1 {
    flex: 0.5;
    padding: 10px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Styling for billedet */
.imageprojekt-section1 img {
    max-width: 70%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

/* Responsiv styling for mobile enheder */
@media (max-width: 600px) {
    .projekter-section1 {
        flex-direction: column;
        padding: 20px;
    }

    .textprojekt-section1,
    .imageprojekt-section1 {
        flex: 1 100%;
        padding: 10px 0;
    }

    .textprojekt-section1 h2 {
        font-size: 28px;
    }

    .textprojekt-section1 p {
        font-size: 16px;
    }

    .imageprojekt-section1 img {
        max-width: 100%;
    }
}

/* "PROJEKTER2" Styling */
.projekter-section2 {
    width: 100%;
    background-color: #EBDED4;
    color: #00224B;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 20px;
    box-sizing: border-box;
    height: auto;
    margin-top: 1px;
    flex-direction: row; /* Beholder row for at placere billedet til højre */
}

/* Styling for tekstsektionen */
.textprojekt-section2 {
    flex: 0.3;
    padding: 10px 20px 10px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 40px; /* Tilføjet venstre margin for at skabe afstand til billedet */
}

.textprojekt-section2 h2 {
    font-size: 35px;
    margin-top: 0;
    margin-bottom: 20px;
    text-align: left;
}

.textprojekt-section2 p {
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 20px;
    text-align: left;
}

/* Styling for billedsektionen */
.imageprojekt-section2 {
    flex: 0.45;
    padding: 10px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Styling for billedet */
.imageprojekt-section2 img {
    max-width: 70%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

/* Responsiv styling for mobile enheder */
@media (max-width: 600px) {
    .projekter-section2 {
        flex-direction: column;
        padding: 20px;
    }

    .textprojekt-section2,
    .imageprojekt-section2 {
        flex: 1 100%;
        padding: 10px 0;
    }

    .textprojekt-section2 {
        margin-left: 0; /* Fjerner venstre margin for mobilvisning */
    }

    .textprojekt-section2 h2 {
        font-size: 28px;
    }

    .textprojekt-section2 p {
        font-size: 16px;
    }

    .imageprojekt-section2 img {
        max-width: 100%;
    }
}

/* "PROJEKTER3" Styling */
.projekter-section3 {
    width: 100%;
    background-color: #ffffff;
    color: #00224B;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 20px;
    box-sizing: border-box;
    height: auto;
    margin-top: 10px;
    flex-direction: row-reverse;
}

/* Styling for tekstsektionen */
.textprojekt-section3 {
    flex: 0.3;
    padding: 10px 150px 10px 0; /* Tilføjet padding til højre for at skubbe teksten yderligere til venstre */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.textprojekt-section3 h2 {
    font-size: 35px;
    margin-top: 0;
    margin-bottom: 20px;
    text-align: left;
}

.textprojekt-section3 p {
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 20px;
    text-align: left;
}

/* Styling for billedsektionen */
.imageprojekt-section3 {
    flex: 0.7;
    padding: 10px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Styling for billedet */
.imageprojekt-section3 img {
    max-width: 70%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

/* Responsiv styling for mobile enheder */
@media (max-width: 600px) {
    .projekter-section3 {
        flex-direction: column;
        padding: 20px;
    }

    .textprojekt-section3,
    .imageprojekt-section3 {
        flex: 1 100%;
        padding: 10px 0;
    }

    .textprojekt-section3 h2 {
        font-size: 28px;
    }

    .textprojekt-section3 p {
        font-size: 16px;
    }

    .imageprojekt-section3 img {
        max-width: 100%;
    }
}





/* "PROJEKTER4" Styling */
.projekter-section4 {
    width: 100%;
    background-color: #EBDED4;
    color: #00224B;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 20px;
    box-sizing: border-box;
    height: auto;
    margin-top: 10px;
    flex-direction: row; /* Beholder row for at placere billedet til højre */
}

/* Styling for tekstsektionen */
.textprojekt-section4 {
    flex: 0.3;
    padding: 10px 20px 10px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 40px; /* Tilføjer venstre margin for at skabe afstand til billedet */
}

.textprojekt-section4 h2 {
    font-size: 35px;
    margin-top: 0;
    margin-bottom: 20px;
    text-align: left;
}

.textprojekt-section4 p {
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 20px;
    text-align: left;
}

/* Styling for billedsektionen */
.imageprojekt-section4 {
    flex: 0.5;
    padding: 10px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Styling for videoen */
.imageprojekt-section4 video {
    max-width: 70%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

/* Responsiv styling for mobile enheder */
@media (max-width: 600px) {
    .projekter-section4 {
        flex-direction: column;
        padding: 20px;
    }

    .textprojekt-section4,
    .imageprojekt-section4 {
        flex: 1 100%;
        padding: 10px 0;
    }

    .textprojekt-section4 {
        margin-left: 0; /* Fjerner venstre margin for mobilvisning */
    }

    .textprojekt-section4 h2 {
        font-size: 28px;
    }

    .textprojekt-section4 p {
        font-size: 16px;
    }

    .imageprojekt-section4 video {
        max-width: 100%;
    }
}

/* "PROJEKTER5" Styling */
.projekter-section5 {
    width: 100%;
    background-color: #ffffff;
    color: #00224B;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 20px;
    box-sizing: border-box;
    height: auto;
    margin-top: 10px;
    flex-direction: row-reverse;
}

/* Styling for tekstsektionen */
.textprojekt-section5 {
    flex: 0.3;
    padding: 10px 20px 10px 0; /* Tilføjer padding til højre for at skubbe teksten yderligere til venstre */
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 40px; /* Tilføjer højre margin for at skubbe teksten væk fra billedet */
}

.textprojekt-section5 h2 {
    font-size: 35px;
    margin-top: 0;
    margin-bottom: 20px;
    text-align: left;
}

.textprojekt-section5 p {
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 20px;
    text-align: left;
}

/* Styling for billedsektionen */
.imageprojekt-section5 {
    flex: 0.5;
    padding: 10px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Styling for billedet */
.imageprojekt-section5 img {
    max-width: 70%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

/* Responsiv styling for mobile enheder */
@media (max-width: 600px) {
    .projekter-section5 {
        flex-direction: column;
        padding: 20px;
    }

    .textprojekt-section5,
    .imageprojekt-section5 {
        flex: 1 100%;
        padding: 10px 0;
    }

    .textprojekt-section5 h2 {
        font-size: 28px;
    }

    .textprojekt-section5 p {
        font-size: 16px;
    }

    .imageprojekt-section5 img {
        max-width: 100%;
    }
}

/* "PROJEKTER6" Styling */
.projekter-section6 {
    width: 100%;
    background-color: #EBDED4;
    color: #00224B;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 20px;
    box-sizing: border-box;
    height: auto;
    margin-top: 10px;
    flex-direction: row; /* Beholder row for at placere billedet til højre */
}

/* Styling for tekstsektionen */
.textprojekt-section6 {
    flex: 0.3;
    padding: 10px 20px 10px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 40px; /* Tilføjer venstre margin for at skabe afstand til billedet */
}

.textprojekt-section6 h2 {
    font-size: 35px;
    margin-top: 0;
    margin-bottom: 20px;
    text-align: left;
}

.textprojekt-section6 p {
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 20px;
    text-align: left;
}

/* Styling for billedsektionen */
.imageprojekt-section6 {
    flex: 0.5;
    padding: 10px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Styling for billedet */
.imageprojekt-section6 img {
    max-width: 70%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

/* Responsiv styling for mobile enheder */
@media (max-width: 600px) {
    .projekter-section6 {
        flex-direction: column;
        padding: 20px;
    }

    .textprojekt-section6,
    .imageprojekt-section6 {
        flex: 1 100%;
        padding: 10px 0;
    }

    .textprojekt-section6 {
        margin-left: 0; /* Fjerner venstre margin for mobilvisning */
    }

    .textprojekt-section6 h2 {
        font-size: 28px;
    }

    .textprojekt-section6 p {
        font-size: 16px;
    }

    .imageprojekt-section6 img {
        max-width: 100%;
    }
}


.footer { /* Footer styling */
    background-color: #EBDED4; 
    padding: 5px 0;
    text-align: center; 
    border-top: 2px solid #ffffff; /* Tilføjer en tynd linje over footeren */
}

/* "OM MIG SIDEN" Styling */
.ommig-header {
    width: 100%;
    text-align: center; 
    padding: 20px 0; 
    margin-top: 20px;
    margin-bottom: 10px; /* Afstand til den første sektion */
    font-size: 25px;
}

.ommig-header h1 {
    color: #00224B; 
    font-weight: bold; 
    margin: 0; 
}

@media (max-width: 600px) {
    .ommig-header h1 {
        font-size: 35px; 
    }

    .ommig-header {
        padding: 10px 0; 
    }
}

/* "OM MIG SIDEN" Styling */
.om-mig-sektion {
    width: 100%;
    background-color: #ffffff;
    color: #00224B;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 20px;
    box-sizing: border-box;
    height: auto;
    margin-top: 10px;
    flex-direction: row-reverse; /* Row-reverse for at placere billedet til højre */
}

/* Styling for tekstsektionen */
.ommigtext-section {
    flex: 0.4; 
    padding: 20px; /* Ensartet padding for centrering */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; 
    text-align: left; 
    margin-right: 40px; /* Tilføjer margin til højre for mere afstand */
}

.ommigtext-section p {
    font-size: 18px; 
    margin: 0 0 20px 0; 
    line-height: 1.6;
}

/* Styling for billedsektionen */
.ommigimage-section {
    flex: 0.5; 
    padding: 20px; 
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Styling for billedet */
.ommigimage-section img {
    max-width: 90%; 
    height: auto;
}

/* Responsiv styling for mobile enheder */
@media (max-width: 600px) {
    .om-mig-sektion {
        flex-direction: column;
        padding: 20px;
    }

    .ommigtext-section,
    .ommigimage-section {
        flex: 1 100%;
        padding: 10px 0;
    }

    .ommigtext-section h2 {
        font-size: 30px;
    }

    .ommigtext-section p {
        font-size: 16px;
    }

    .ommigimage-section img {
        max-width: 100%;
    }
}

/* "HVAD KAN JEG TILBYDE?" HEADER */
.tilbyde-header{
    width: 100%;
    text-align: center; 
    padding: 20px 0; /* Tilføjer vertikal padding for afstand fra toppen til næste sektion */
    margin-top: 20px;
    margin-bottom: 10px; 
    font-size: 30px;
    }

.tilbyde-header h2 {
    color:#00224B; 
    font-weight: bold; 
    margin: 0; 
}

@media (max-width: 600px) {
    .tilbyde-header h2 {
        font-size: 30px; 
    }

    .tilbyde-header {
        padding: 10px 0; 
    }
}

/* "HVAD KAN JEG TILBYDE?" styling */
.linje {
    display: flex;
    justify-content: space-between; /* Vandret afstand */
    align-items: flex-start;
    flex-wrap: wrap;
    margin-bottom: 20px; 
    gap: 70px; /* Tilføjer en vandret afstand mellem illustrationerne */
}

.image-tilbyde {
    flex: 1;
    width: 20%; 
    padding: 20px; 
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-tilbyde img {
    width: 90%;
    height: auto;
    display: block;
    object-fit: cover;
    margin: 0 auto; /* Centrerer billedet */
}

.tekst-box {
    width: 100%; 
    color: #00224B;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
    font-size: 20px;
    margin-top: 20px; /* Tilføjer top-margin for at skabe mere afstand mellem billede og tekst */
}

.ny-tekst-sektion {
    text-align: left;
    margin: 30px auto; /* Tilføjer margin for at skabe mere afstand mellem sektioner */
    max-width: 100%;
    font-size: 18px;
    color: #00224B;
    line-height: 1.6;
}

@media screen and (max-width: 600px) {
    .linje {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center; 
        margin-bottom: 5px; /* Reduceret afstand på mobil enheder */
        gap: 5px; /* Vertikal afstand mellem elementerne */
    }

    .image-tilbyde {
        width: 80%; /* Gør billederne bredere på hele skærmens bredde */
        margin-bottom: 1px; /* Mindre afstand mellem billede og tekst */
        text-align: center; 
    }

    .tekst-box {
        font-size: 20px; 
        text-align: center; 
    }
}

@media screen and (min-width: 1000px) {
    .image-tilbyde {
        max-width: 300px; 
        }
}

/* "KONTAKT SIDEN" Styling */
.kontakt-sektion {
    width: 100%;
    background-color: #ffffff;
    color: #00224B;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 20px;
    box-sizing: border-box;
    height: auto;
    margin-top: 10px;
    flex-direction: row; /* Beholder row for at placere billedet til venstre */
}

/* Styling for tekstsektionen */
.kontakttext-section {
    flex: 0.4; 
    padding: 20px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; 
    text-align: left; /* Justerer tekst til venstre */
    margin-right: 40px; /* Tilføjer margin-højre for at skabe mere afstand */
}

.kontakttext-section p {
    font-size: 18px; 
    margin: 0 0 20px 0; 
    line-height: 1.6;
}

/* Styling for billedsektionen */
.kontaktimage-section {
    flex: 0.5; 
    padding: 20px; 
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Styling for billedet */
.kontaktimage-section img {
    max-width: 90%; 
    height: auto;
}

/* Responsiv styling for mobile enheder */
@media (max-width: 600px) {
    .kontakt-sektion {
        flex-direction: column;
        padding: 20px;
    }

    .kontakttext-section,
    .kontaktimage-section {
        flex: 1 100%;
        padding: 10px 0;
    }

    .kontakttext-section h2 {
        font-size: 30px;
    }

    .kontakttext-section p {
        font-size: 16px;
    }

    .kontaktimage-section img {
        max-width: 100%;
    }
}

/* Styling for social media section */
.social-media-section {
    text-align: center; 
    margin: -40px 0 0 0; /* Justere teksten til centrum af billedet */
    padding-left: 610px; /* Tilføjer venstrepadding for at flytte sektionen til højre */
}

.social-media-section h3 {
    color: #00224B;
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: normal;
}

.social-media-ikon {
    display: flex;
    justify-content: center; 
    gap: 20px;
}

.social-media-ikon img {
    width: 50px;
    height: 50px;
    display: block;
}

/* Responsiv styling for mobile enheder */
@media (max-width: 600px) {
    .kontakt-sektion {
        flex-direction: column;
        padding: 20px;
    }

    .kontakttext-section,
    .kontaktimage-section {
        flex: 1 100%;
        padding: 10px 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .kontakttext-section h2 {
        font-size: 30px;
    }

    .kontakttext-section p {
        font-size: 16px;
    }

    .kontaktimage-section img {
        max-width: 100%;
    }

    .social-media-section {
        margin: 10px 0 20px 0;
        padding-left: 0; /* Fjern venstrepadding for små skærme */
    }

    .social-media-ikon {
        gap: 10px;
    }

    .social-media-ikon img {
        width: 50px;
        height: 50px;
    }
}

/* "IKON KONTAKT" styling */
.kontakt-section {
    text-align: left;
    max-width: 600px;
    margin: -120px 0 20px 0px; 
    padding: 20px;
    margin-bottom: 20px; 
}

.kontakt-item {
    display: flex;
    align-items: center;
    color: #00224B;
    font-weight: normal;
    justify-content: flex-start;
    margin: 10px 0;
    padding-left: 90px;
}

.kontakt-item img {
    width: 50px;
    height: 50px;
    margin-right: 20px;
    flex-shrink: 0;
    padding-left: 0;
}

.kontakt-item p {
    text-align: left;
    display: block;
    width: 100%;
    font-size: 20px; 
}

/* Media Queries for mindre skærme som smartphones */
@media (max-width: 768px) {
    .kontakt-section {
        padding: 20px; /* Tilføjer padding for at skubbe sektionen længere ned */
        margin-top: 10px; 
    }

    .kontakt-item {
        display: flex; 
        flex-direction: column; /* Elementerne stables vertikalt */
        padding-left: 0; /* Fjerner venstre padding */
        align-items: center; 
        margin-top: 10px; 
        margin-left: 20px;
    }

    .kontakt-item p {
        text-align: center;
    }

    .kontakt-item img {
        margin-bottom: 5px;
        padding-left: 0;
    }

    .kontakt-item span {
        text-align: center;
    }
}

/* KONTAKT FORMULAR */
.kontaktformular {
    background-color: #ffffff;
    background-size: cover;
    padding: 40px 0 20px 0; 
}

.kontaktformular h2 {
    text-align: left; 
    color: #00224B;
    font-size: 22px; 
    margin: 0 auto 20px auto; 
    padding-left: 110px; /* Tilføjer padding-left for at rykke overskriften mere til højre */
}

.border {
    width: 100px;
    height: 10px;
    background: #00224B;
    margin: 20px auto; 
}

.contact-form {
    max-width: 1250px; 
    margin: auto;
    padding: 0 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-end; /* Flytter send-knappen til højre */
}

.contact-form label {
    display: block;
    margin: 16px 0 8px 0; /* Afstand imellem tekst og grålabel boks */
    color: #00224B;
    font-size: 18px; 
    font-weight: normal;
    align-self: stretch; /* Sørger for at label fylder hele bredden */
}

.contact-form-text {
    display: block;
    font-family: "playfair display";
    font-size: 16px; 
    width: 100%;
    box-sizing: border-box;
    margin: 0 0 16px 0; 
    border: 0;
    background: rgb(197, 197, 197);
    padding: 15px; 
    outline: none;
    color: #fff;
    transition: 0.5s;
}

.contact-form-text:focus {
    background: #00224B;
}

.contact-form-btn {
    display: block;
    width: 10%; /* Størrelse på knappen */
    border: 0;
    font-family: "playfair display";
    background-color: #00224B;
    color: #ffffff;
    font-size: 16px;
    padding: 15px 20px; /* Rummelighed af knappen */
    cursor: pointer;
    transition: 0.5s;
    margin-top: 10px; 
    align-self: flex-end; /* Sørger for at knappen er justeret til højre */
}

.contact-form-btn:hover {
    background: #A5AAD8;
}

/* Media Queries for mindre skærme */
@media (max-width: 600px) {
    .kontaktformular {
        padding: 20px 0;
    }

    .kontaktformular h2 {
        font-size: 18px; 
        margin: 0 auto 5px auto; 
        text-align: left;
        padding: 20px;
    }

    .contact-form {
        padding: 0 20px;
        align-items: flex-start; 
    }

    .contact-form label {
        font-size: 16px; 
        align-self: stretch; /* Sørger for at label fylder hele bredden af skærmen */
    }

    .contact-form-text {
        font-size: 14px; 
        padding: 10px; 
    }

    .contact-form-btn {
        font-size: 16px; 
        padding: 10px 20px; 
        width: auto; 
        display: inline-block; 
        text-align: center; 
        float: right; /* Flyt knappen til højre */
    }
}